.card {
  border: yellow 3px solid;
  height: 100%;
  width: 100%;
  border-radius: var(--radius3);
  background: var(--blau);
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: move 1s infinite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: fit-content;
}

.card img {
  height: 50%;
  width: 100%;
  object-fit: fill;
  border-radius: var(--radius3);
  border-bottom-right-radius: 0;
  border: black solid;
  outline: 0.5vh solid var(--grün);
  background: var(--blau);
}

h1 {
  font-size: 3vh;
}
p {
  font-size: 2.3vh;
}
.charBox {
  padding-top: 1vh;
  height: 50%;
  display: flex;
  align-content: center;
  flex-direction: column;

  border-bottom-left-radius: var(--radius3);
  border-bottom-right-radius: var(--radius3);
}

.cardTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: scroll;
}
.cardTextContainer div {
  display: flex;
  justify-content: space-between;
  /* border-bottom: var(--grün) 3px solid; */
  /* border-bottom: 1px solid; */
}

.cardTextContainer div p {
  text-align: start;
}
.cardTextContainer div p:last-child {
  text-align: end;
}
.cardTextContainer hr {
  margin: 0 6vw;

  width: 80%;
  color: var(--grün);
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0.3%);
  }

  100% {
    transform: translateY(0%);
  }
}
