.card {
  border: yellow 3px solid;
  height: 100%;
  width: 100%;
  border-radius: var(--radius2);
  background: var(--blau);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  animation: move 1s infinite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: fit-content;
}

.card img {
  height: 45%;
  width: 100%;
  object-fit: fill;
  border-radius: var(--radius2);
  border-bottom-right-radius: 0;
  border: black solid;
  outline: 0.5vh solid var(--grün);
  background: var(--blau);
}

.charBox {
  padding: 0vh 1vw;
  height: 55%;
  display: flex;
  align-content: center;
  flex-direction: column;

  border-bottom-left-radius: var(--radius2);
  border-bottom-right-radius: var(--radius2);
}
.infoTable {
  height: 100%;
  border-collapse: collapse;
}
.infoTable tr:not(:last-child) {
  border-bottom: 2pt solid var(--grün);
}
.infoTable tr:last-child {
}
.infoTable td {
  color: var(--grün);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2.5vh;
}
.infoTable h1 {
  padding-top: 0.5vh;
  font-size: 4vh;
}
.infoTable td:nth-child(even) {
  text-align: right;
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0.3%);
  }

  100% {
    transform: translateY(0%);
  }
}
